.animation-width {
  width: 11.5em;
}
.animation-width.ng-hide {
  width: 0;
}
.animation-width.ng-hide-add,
.animation-width.ng-hide-remove {
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.fade {
  opacity: 1;
}
.fade.io-slider-hide {
  opacity: 0;
}
.fade.io-slider-hide-add {
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
.fade.io-slider-hide-remove {
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}