<div class="social-accordeon">
  <ul class="social-icons inline-block animation-width" ng-show="isOpen">
    <li class="social-icon">
      <a href="#"><img src="images/icons/facebook.svg"></a>
    </li>
    <li class="social-icon">
      <a href="#"><img src="images/icons/livejournal.svg"></a>
    </li>
    <li class="social-icon">
      <a href="#"><img src="images/icons/vkontakte.svg"></a>
    </li>
    <li class="social-icon">
      <a href="#"><img src="images/icons/twitter.svg"></a>
    </li>
  </ul>
  <heart ng-class="{ open: isOpen }" ng-click="toggleAccordeon()"></heart>
</div>